<h1> About Page </h1>

<h4> A rails blog for learning and practicing Ruby on Rails & CRUD operations </h4>
<h5> Code available at <a href="https://github.com/lukechadwick/rails-blog" target="blank">Here</a></h5>
